.top_menu{
  z-index: 9;
  margin-left: 200px;
  ul{
      li{
          display: inline-block;
          padding: 5px 5px;
          position: relative;
          a{
            text-align: center;
            display: inline-block;
            width: 100%;
            border-radius: 5px;
            padding: 7px 10px;
            color: #FFF;
            svg{
              filter: brightness(0) invert(1);
            }
            span{
                display: inline-block;
                margin-left: 0.5rem;
            }
            &:hover,
            &.active{
                background-color: #FFDA00;
                color: #000;
                svg{
                  filter: none;
                }
            }
        }
      }
    }
}