.main_reset_password{
  height: 40px;
  .header_reset_password{
    height: 40px;
    background-color: #383434;
  }
  .box_reset_password{
    width: 320px;
    margin: 40px auto 0;
    border: 1px solid #000;
    border-radius: 5px;
    overflow: hidden;
    .title{
      text-transform: uppercase;
      border-bottom: 1px solid #f4f6f9;
      padding: 10px 16px;
      font-weight: 700;
      color: #feda00;
      background-color: #000;
    }
  }
  .body_reset_password{
    padding: 16px;
    .form_group{
      span{
        color: red;
        margin-left: 3px;
      }
      input{
        height: 34px;
        background: #f4f6f9;
        outline: none;
        font-size: 14px;
      }
    }
    .btn_login{
      button{
        background-color: #383434;
        color: #fff;
        display: inline-block;
        width: 80%;
        border-radius: (20px);
        box-shadow: (none);
        text-shadow: none;
        outline: none;
        padding: 7px 15px;
        font-size: 14px;
        border: none;
        text-transform: uppercase;
        display: inline-block;
      }
    }
  }
}