.fieldset {
  border: 1px solid var(--bg-color-grey);
  border-radius: 4px;
  padding: 0 10px;
  overflow: auto;
  position: relative;
  .legend {
      float: none;
      padding: 0 2px;
      width: unset;
      font-size: 14px;
      font-weight: bold;
  }
  
}