// .quick_start {
//     background-color: #F2F2F2;
//     border: 5px solid #F2F2F2;
//     border-radius: 4px;
//     .tab_title {
//         background-color: #F2F2F2;
//         border-top-left-radius: 4px;
//         border-top-right-radius: 4px;

//         ul {
//             li {
//                 display: inline-block;

//                 span {
//                     display: inline-block;
//                     padding: 10px 20px;
//                     cursor: pointer;
//                     border-top-left-radius: 4px;
//                     border-top-right-radius: 4px;
//                 }

//                 .active {
//                     background-color: #383434;
//                     color: #FFF;
//                 }
//             }
//         }
//     }

//     .tab_content{
//         background-color: #FFF;
//         padding: 15px;
//         border-bottom-left-radius: 4px;
//         border-bottom-right-radius: 4px;
//     }

// }

.template {
    .header {
        color: var(--text-color-light);
        background-color: var(--bg-color-dark);
        padding: 7px;
        border-radius: 4px;
        margin-bottom: 15px;
    }

    .body {
        padding: 7px;
        border-radius: 4px;
        background-color: var(--bg-color-light);

        .outlet {
            border-top: 1px solid var(--bg-color-dark);
            padding: 10px;
        }
    }
}