.modal {
    .header {
        background-color: var(--bg-color-dark);
        color: var(--text-color-light);
    }

    .body {
        padding: 1rem 2rem;
    }
    .footer{
        justify-content: flex-start;
        border-top: 1px solid var(--bg-color-dark);
        padding: 1rem 2rem;
    }
}

.grey {
    background-color: var(--bg-color-grey);
}