.upload_channels{
    .form_body{
        margin-top: 30px;
        .channels{
            border: 1px solid #DDD;
            margin-bottom: 30px;
            border-radius: 4px;
            .title{
                padding: 10px 15px;
                .title_name{
                    padding-right: 10px;
                }
            }
        }
    }
}