.control {
    margin: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .center {
        display: flex;
        
        .page-count {
            margin: 0 2px;
            background-color: var(--bg-color-light);
            border: none;
            border-radius: 0.25rem;
            cursor: pointer;

            &.grey {
                background-color: var(--bg-color-grey);
            }

            &.light {
                background-color: var(--bg-color-white);
            }

            &:focus-visible {
                outline: none;
            }
        }
    }

    .side {
        flex-basis: 100px;
    }
}

.table-wrapper {
    overflow-x: auto;
    border-radius: 10px;

    .table {
        background-color: var(--bg-color-light);
        width: 100%;
        overflow-x: auto;
    
        &.grey {
            background-color: var(--bg-color-grey);

            .footer-row {
                .item {
                    background-color: var(--bg-color-grey);
                }
            }
        }
    
        &.light {
            background-color: var(--bg-color-white);

            .footer-row {
                .item {
                    background-color: var(--bg-color-white);
                }
            }
        }
    
        .body-row {
            background-color: var(--bg-color-white);
            border: 5px solid var(--bg-color-light);
            border-top: none;
    
            &:hover {
                background-color: var(--bg-color-light);
            }

            &:last-child {
                border-bottom: none;
            }

            &.grey {
                border: 5px solid var(--bg-color-grey);
                border-top: none;
            }
        
            &.light {
                border: 5px solid var(--bg-color-white);
                border-top: none;
            }
    
            td {
                padding: 7px;
    
                &:first-child {
                    padding-left: 20px;
                }
    
                &:last-child {
                    padding-right: 20px;
                    text-align: center;
                }
            }
        }
    
        .footer-row {
            height: 10px;

            .item {
                position: sticky;
                bottom: 0;
                background-color: var(--bg-color-light);
            }
        }
    }
}