.main_config_device {
  .detail_device {
    margin: 0 0 2rem 0;
    border: 1px #0E70B7 dashed;
    background-color: #E7F0FE;
    border-radius: 6px;
    padding: .75rem;

    .detail {
      color: #0E70B7;
    }

    .edit {
      cursor: pointer;
    }

    .edit:hover {
      opacity: 0.8;
    }
  }
}

.config_point {
  .label {
    font-weight: bold;
    min-width: 25vh;
    flex-shrink: 1;
  }

  .select {
    flex: none;
    min-width: 25vh;
    max-width: 25vh;
    flex-shrink: 1;
  }

  .btn_group {
    margin-top: 1rem;
  }

  @media screen and (max-width: 768px) {
    .btn_group {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}