.main_config_device{
  margin-bottom: 3rem;
  .detail_device{
    margin: 2rem 0;
    border: 1px #0E70B7 dashed;
    background-color: #E7F0FE;
    border-radius: 6px;
    padding: .75rem;
    .detail{
      color: #0E70B7;
    }
  }
}