.add-btn{
    border-radius: 100%;
    margin-left: 1rem;
    padding: 4px;
}

.component{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    .demo-container{
        overflow: scroll;
        background-color: #f0f0f0;
        height: 100%;
        min-height: 200px;
        max-height: 300px;
        
        .demo{
            display: grid;
            grid-template-columns: 100% auto 100%;
            grid-template-rows: minmax(auto, 1fr) 100px minmax(auto, 1fr);
            gap: 0;
    
            .top, .bottom {
                grid-column-start: 1;
                grid-column-end: 4;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                &.bottom{
                    flex-direction: column-reverse;
                    justify-content: flex-end;
                    .item {
                        flex-direction: column-reverse;
                        justify-content: flex-end;
                    }
                }
    
                &.top{
                    justify-content: flex-end;
                }
            }
    
            .item-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                img {
                    max-height: 50px;
                    height: 100%;
                }
            }
            .item{
                display: flex;
                flex-direction: column;
                margin: 0 3rem;
            }
            
            .left{
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 3;
                direction: rtl;
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-end;
                align-items: flex-end;
                transform: translate(100%) rotate(90deg);
                transform-origin: left top;
                -webkit-transform: translate(100%) rotate(90deg);
                -webkit-transform-origin: left top;
    
                .item{
                    flex-direction: column-reverse;
                    justify-content: flex-end;

                    &:last-child{
                        margin: 0;
                        margin-right: 3rem;
                    }
                }

                .extension{
                    margin-top: -5%;
                }
            }
            .right{
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-end;
                align-items: flex-end;
                transform: translate(-100%) rotate(-90deg);
                transform-origin: right top;
                -webkit-transform: translate(-100%) rotate(-90deg);
                -webkit-transform-origin: right top;

                .item{
                    flex-direction: column-reverse;
                    justify-content: flex-end;

                    &:last-child{
                        margin: 0;
                        margin-left: 3rem;
                    }
                }

            }
    
            .center{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
    
                .item-container{
                    height: 100%;
                    img{
                        max-height: 100px;
                        height: 100%;
                    }
                }
            }
    
            .line{
                height: 4rem;
            }
    
            .extension{
                min-height: 50px;
                max-height: 100px;
                height: 50%;
                width: 5px;
                background-color: #fff;
            }
        }
    }
}