.site-information {
    .form-body {
        margin-top: 30px;
        position: relative;

        label {
            margin-bottom: 0;
        }

    }

    .form-footer{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .button {
            height: 3em;
            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}